@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Graduate&display=swap');

/* ---------------------------------------- Special headings/paddings/margins/text */

.page-heading {
    font-family: Graduate;
    font-weight: 900;
}

/*-------------------------------------------- Colors*/

body {
    background: rgb(26,147,215);
    background: linear-gradient(0deg, rgba(26,147,215,1) 0%, rgba(111,184,230,1) 35%, rgba(251,255,250,1) 100%);
}

/* label color on forms */
.input-field label {
    color: #0d47a1;
}

.card-label, .card-title {
    color: #0d47a1;
}

/* ---------------------------------------- Body */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Englebert;
}

/*-------------------------------------------- Header & Nav */

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: Graduate;
}

#nav-logo {
    height: 5rem;
    width: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-link {
    font-family: Graduate;
}

/* ---------------------------------------- Home Page */

.home-tagline {
    font-weight: 500;
}

/* ---------------------------------------- Parks Page */

.add-park-btn {
    margin: 2rem;
}

.card-title {
    font-family: Graduate;
}

.card-label {
    font-family: Graduate;
    font-weight: 600;
}

.edit-btn, .delete-btn {
    margin: 1rem;
}

/* ---------------------------------------- Add Parks Page */

.add_park_form {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

label {
    font-weight: 700;
    font-size: 1.2rem !important;
}

.submit-button {
    border-radius: 10px;
    margin: 3rem;
    font-family: Englebert;
    font-size: 2.5rem;
    font-weight: 800;
}

/* ---------------------------------------- Rides Page */

/* ---------------------------------------- Restaurant Page */

/* ---------------------------------------- Footer */

.footer-heading {
    font-family: Graduate;
}

.row {
    margin-bottom: 0;
}

.fa-book-open {
    font-size: 2.5rem;
}

.footer-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.links-heading {
    font-family: Graduate;
}

.links {
    font-size: 1.5rem;
}