@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Graduate&display=swap');

/* ---------------------------------------- Special headings/paddings/margins/text */

.page-heading {
    font-family: Graduate;
    font-weight: 900;
}

/*-------------------------------------------- Colors*/

body {
    background: rgb(26,147,215);
    background: linear-gradient(0deg, rgba(26,147,215,1) 0%, rgba(111,184,230,1) 35%, rgba(251,255,250,1) 100%);
}

/* label colour on forms */
.input-field label {
    color: #0d47a1;
}

/* colour for text on cards and carousel */
.card-label, .card-title, .carousel-item {
    color: #0d47a1 !important;
}

/* tooltip (textual hint box) colour */
.material-tooltip {
    background-color: #0d47a1;
}

/* file upload button hover colour on add_park form */
.file-upload-btn:hover {
    background-color: #1A93D7;
}

.submit-button:hover {
    background-color: #1A93D7;
}

/* ---------------------------------------- Body */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Englebert;
}

/*-------------------------------------------- Header & Nav */

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: Graduate;
}

#nav-logo {
    height: 5rem;
    width: 5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-link {
    font-family: Graduate;
}

/* ---------------------------------------- Home Page */

.home-tagline {
    font-weight: 500;
}

.carousel-item {
    font-family: Graduate;
    font-weight: 800;
    font-size: 2rem;
}

.carousel-text {
    font-weight: 800;
    padding: 2rem;
}

.park-image {
    height: 17rem;
    width: 17rem;
}

/* ---------------------------------------- Parks Page */

.add-park-btn {
    margin: 2rem;
}

.card-title {
    font-family: Graduate;
}

.card-label {
    font-family: Graduate;
    font-weight: 600;
}

.edit-btn, .delete-btn {
    margin: 1rem;
}

.material-tooltip {
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(187, 204, 246, 0.8);
    padding: 0.5rem;
}

.modal {
    height: 22.5rem;
    width: 35rem;
    color:#0d47a1;
}

.modal-header, .modal-text {
    text-align: center;
    font-weight: 800;
}

.modal-text {
    font-size: 1.5rem;
}

.modal-delete-btn, .modal-cancel-btn {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------- Add Parks Page */

/* ---------------------------------------- Forms */

.add_form {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

label {
    font-weight: 700;
    font-size: 1.2rem !important;
}

.file-upload-btn {
    font-weight: 500;
    font-size: 1.5rem;
}

.submit-button {
    border-radius: 10px;
    margin: 3rem;
    font-family: Englebert;
    font-size: 2.5rem;
    font-weight: 800;
}

/* ---------------------------------------- Rides Page */

/* ---------------------------------------- Restaurant Page */

/* ---------------------------------------- Footer */

.footer-heading {
    font-family: Graduate;
}

.row {
    margin-bottom: 0;
}

.fa-book-open {
    font-size: 2.5rem;
}

.footer-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.links-heading {
    font-family: Graduate;
}

.links {
    font-size: 1.5rem;
}