<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mousepedia, a customisable collection of information about the Disney parks in Florida, USA">
    <title>Mousepedia</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <header>
        <!-- Navbar at top of page -->
        <nav class="blue darken-4">
            <div class="nav-wrapper">
                <img src="{{ url_for('static', filename='images/mousepedia-logo.png') }}" id="nav-logo">
                
                <a href="{{ url_for('home') }}" class="brand-logo white-text text-align-center">Mousepedia</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-circle-chevron-down light-blue-text text-lighten-4"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-link {% if request.path == url_for('home') %}active{% endif %}"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-link {% if request.path == url_for('parks') %}active{% endif %}"><a href="{{ url_for('parks') }}">Parks</a></li>
                    <li class="nav-link {% if request.path == url_for('rides') %}active{% endif %}"><a href="{{ url_for('rides') }}">Rides</a></li>
                    <li class="nav-link {% if request.path == url_for('restaurants') %}active{% endif %}"><a href="{{ url_for('restaurants') }}">Restaurants</a></li>
                    <li class="nav-link"><a href="">Login</a></li>
                    <li class="nav-link"><a href="">Log Out</a></li>
                    <li class="nav-link {% if request.path == url_for('register') %}active{% endif %}"><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- mobile nav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li class="{% if request.path == url_for('home') %}active{% endif %}"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="{% if request.path == url_for('parks') %}active{% endif %}"><a href="{{ url_for('parks') }}">Parks</a></li>
            <li class="{% if request.path == url_for('rides') %}active{% endif %}"><a href="{{ url_for('rides') }}">Rides</a></li>
            <li class="{% if request.path == url_for('restaurants') %}active{% endif %}"><a href="{{ url_for('restaurants') }}">Restaurants</a></li>
            <li class="nav-link"><a href="">Login</a></li>
            <li class="nav-link"><a href="">Log Out</a></li>
            <li class="nav-link {% if request.path == url_for('register') %}active{% endif %}"><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="blue darken-4 page-footer">
        <div class="container footer-container">
          <div class="row footer-row">
            <div class="col l6 s12">
              <h4 class="white-text footer-heading"><i class="fa-solid fa-book-open"></i> Mousepedia <i class="fa-solid fa-book-open"></i></h4>
              <h6 class="white-text">Your go-to website for comprehensive information on the Disney Parks in Florida, USA. Explore detailed information on the parks, rides, restaurants and customise to make your visit magical.</h6>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text right-align links-heading"><i class="fa-solid fa-link"></i> Useful Links <i class="fa-solid fa-link"></i></h5>
                <ul class="right-align">
                  <li class="links"><a class="white-text" href="https://www.disneyworld.co.uk/destinations/">Disney Parks Website <i class="fa-solid fa-earth-americas footer-icon"></i></a></li>
                  <li class="links"><a class="white-text" href="https://www.disneystore.co.uk/">Disney Store <i class="fa-solid fa-bag-shopping footer-icon"></i></a></li>
                  <li class="links"><a class="white-text" href="https://www.visitflorida.com/">Florida Information <i class="fa-solid fa-circle-info footer-icon"></i></a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="footer-copyright blue darken-4">
          <div class="container white-text">
          © 2024 veebee4 - for educational purposes only
          </div>
        </div>
      </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>