<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Mousepedia</title>
</head>
<body>
    <header>
        <!-- Navbar at top of page -->
        <nav class="blue darken-4">
            <div class="nav-wrapper">
                <img src="{{ url_for('static', filename='images/mousepedia-logo.png') }}" id="nav-logo">
                
                <a href="{{ url_for('home') }}" class="brand-logo white-text text-align-center">Mousepedia</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-circle-chevron-down light-blue-text text-lighten-4"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="nav-link"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-link"><a href="">Parks</a></li>
                    <li class="nav-link"><a href="">Rides</a></li>
                    <li class="nav-link"><a href="">Restaurants</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- mobile nav bar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">Parks</a></li>
            <li><a href="">Rides</a></li>
            <li><a href="">Restaurants</a></li>
        </ul>
    </header>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>