{% extends "base.html" %}
{% block content %}

<!-- Page title -->
<h1 class="blue-text text-darken-4 center-align page-heading">
    <i class="fa-solid fa-wand-sparkles blue-text text-lighten-3"></i> 
    Edit Restaurant 
    <i class="fa-solid fa-wand-sparkles blue-text text-lighten-3"></i>
</h1>
<!-- Page tagline -->
<h6 class="blue-text text-darken-4 center-align">
    Here you can edit a Restaurant in your collection.
</h6>

<!-- Form to edit a restaurant in the database -->
<div class="container add_form">
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">
            <!-- park_id -->
            <div class="input-field col s12">
                <i class="fa-solid fa-hat-wizard blue-text text-darken-4 prefix"></i>
                <select id="park_id" name="park_id" required>
                    <option value="" disabled selected>Select A Park</option>
                    {% for park in parks %}
                        <option value="{{ park.id }}" {% if park.id == restaurant.park_id %} selected 
                        {% endif %}>{{ park.park_name }}</option>
                    {% endfor %}
                </select>
                <label for="park_id">Park</label>
            </div>
            <!-- restaurant_name -->
            <div class="row">
                <div class="input-field col s12 label-alt-colour">
                    <i class="fa-solid fa-rocket blue-text text-darken-4 prefix"></i>
                    <input id="restaurant_name" name="restaurant_name" minlength="5" maxlength="50" 
                    type="text" value="{{ restaurant.restaurant_name }}" required pattern=".*\S+.*">
                    <label for="restaurant_name">Restaurant Name</label>
                </div>
            </div>
            <!-- restaurant_location -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-location-dot blue-text text-darken-4 prefix"></i>
                    <input id="restaurant_location" name="restaurant_location" minlength="5" 
                    maxlength="50" type="text" value="{{ restaurant.restaurant_location }}" 
                    required pattern=".*\S+.*">
                    <label for="restaurant_location">Restaurant Location In Park</label>
                </div>
            </div>
            <!-- restaurant_description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil blue-text text-darken-4 prefix"></i>
                    <textarea id="restaurant_description" name="restaurant_description" minlength="5" 
                    maxlength="500" class="materialize-textarea" 
                    required pattern=".*\S+.*">{{ restaurant.restaurant_description }}</textarea>
                    <label for="restaurant_description">Description</label>
                </div>
            </div>
            <!-- dine_or_quick_service -->
            <div class="row">
                <div class="col s12 form-checkboxes">            
                        <i class="fa-solid fa-burger blue-text text-darken-4 prefix"></i>
                            <!-- check boxes to select dine in, quick service or both -->
                            <p class="restaurant-checkboxes">
                                <label class="dine_in_label">
                                    <input type="checkbox" name="service_type" 
                                    value="dine_in" {% if 'dine_in' in services %}checked{% endif %}>
                                    <span>Dine In</span>
                                </label>
                            </p>
                            <p class="restaurant-checkboxes">
                                <label class="quick_service_label">
                                    <input type="checkbox" name="service_type" 
                                    value="quick_service" {% if 'quick_service' in services %}checked{% endif %}>
                                    <span>Quick Service</span>
                                </label>
                            </p>
                </div>
            </div>
            <!-- food_type -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pizza-slice blue-text text-darken-4 prefix"></i>
                    <textarea id="food_type" name="food_type" minlength="5" maxlength="500" 
                    class="materialize-textarea" required 
                    pattern=".*\S+.*">{{ restaurant.food_type }}</textarea>
                    <label for="food_type">Food Type</label>
                </div>
            </div>
            <!-- Submit button for form -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large blue darken-4 submit-button edit-button" type="submit" name="action">
                        Submit Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}