{% extends "base.html" %}
{% block content %}

<h1 class="blue-text text-darken-4 center-align page-heading"><i class="fa-solid fa-wand-sparkles blue-text text-lighten-3"></i> Edit Ride <i class="fa-solid fa-wand-sparkles blue-text text-lighten-3"></i></h1>
<h6 class="blue-text text-darken-4 center-align">Here you can edit a Ride in your collection.</h6>

<!-- Form to edit a ride in the database -->
<div class="container add_form">
    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_ride', ride_id=ride.id) }}">
            <!-- park_id -->
            <div class="row">
                <div class="input-field col s12 label-alt-colour">
                    <i class="fa-solid fa-rocket blue-text text-darken-4 prefix"></i>
                    <input id="park_id" name="park_id" minlength="1" type="number" value="{{ ride.ride_id }}" class="validate" required>
                    <label for="park_id">Park ID</label>
                </div>
            </div>
            <!-- ride_name -->
            <div class="row">
                <div class="input-field col s12 label-alt-colour">
                    <i class="fa-solid fa-rocket blue-text text-darken-4 prefix"></i>
                    <input id="ride_name" name="ride_name" minlength="5" maxlength="50" type="text" value="{{ ride.ride_name }}" class="validate" required>
                    <label for="ride_name">Ride Name</label>
                </div>
            </div>
            <!-- ride_location -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-location-dot blue-text text-darken-4 prefix"></i>
                    <input id="ride_location" name="ride_location" minlength="5" maxlength="50" type="text" value="{{ ride.ride_location }}" class="validate" required>
                    <label for="ride_location">Ride Location In Park</label>
                </div>
            </div>
            <!-- ride_description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pencil blue-text text-darken-4 prefix"></i>
                    <textarea id="ride_description" name="ride_description" minlength="5" maxlength="500" class="materialize-textarea validate" value="{{ ride.ride_description }}" required></textarea>
                    <label for="ride_description">Description</label>
                </div>
            </div>    
            <!-- Submit button for form -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large blue darken-4 submit-button" type="submit" name="action">
                        Submit Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
