{% extends "base.html" %}
{% block content %}

<h1 class="blue-text text-darken-4 center-align page-heading"><i class="fa-solid fa-hat-wizard blue-text text-lighten-3"></i> Welcome to Mousepedia <i class="fa-solid fa-hat-wizard blue-text text-lighten-3"></i></h1>
<h5 class="blue-text text-darken-4 center-align home-tagline">The Ultimate Customisable Guide for All Things at Disney, Florida</h5>

  <div class="carousel">
    {% for park in parks %}
    <a class="carousel-item" href="{{ url_for('parks') }}"><img src="https://placehold.co/400">{{ park.park_name }}</a>
    {% endfor %}
  </div>

  <h6 class="center-align blue-text text-darken-4 carousel-text">Click above to go to the Parks page and view more information.</h6>

{% endblock %}